@import "css-reset.styl"
@import "mixin.styl"
@import "var.styl"
:-moz-placeholder {
  text-align: right;
}

::-moz-placeholder {
  text-align: right;
}

:-ms-input-placeholder {
  text-align: right;
}

::-webkit-input-placeholder {
  text-align: right;
}

.mint-cell-wrapper {
  background #fff
}