/* $fontSizeDefault=25;
$fontSize1=26; */


$navColor = #049cff
$fontColor1 = #999999
$fontColor2 = #666666
$fontColor3 = #000
$shadowColor = #e5e5e5

$borderColor1 = #e6e6e6
/* $onePx: 1;
$onePx: 36;
$onePx: 40; */

r($px)
  ($px/2/$fontSizeDefault)rem;
s($px)
    $px/3px